* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
header {
    padding: 16px 120px;
}
nav {
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom:24px;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    width: 367px;
}

nav .menu a{
    font-size: 16px;
    line-height: 152%;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

 .btn {
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 16px;
    border: none;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    

}
#banner {
        background-image: url("../assets/hero-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 70px 120px;

}
#banner .banner-container{
/* 
    width: 85%;
    max-width: 1360px; */
    margin: 0 auto;
    text-align: center;
    padding: 115.5px 120px 179.5px;
}

#banner .banner-container #early-btn {
    padding: 8px 12px;

    width: 229px;
    background-color: #FFFFFF;
    color: #469165;
    border: none;
    border-radius: 1000px;

}

.banner-container h1 {
    margin-top: 16px;
    font-size: 72px;
    line-height: 84px;
    

}
.banner-container p {
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.banner-container .banner-btn {
    margin-top: 32px;
    gap: 16px;    
}
.banner-container .banner-btn .see-how-btn {
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: #FFFFFF;
    
}
#notes .notes-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
#notes .notes-container .notes-box {
    display: flex;
    gap: 24px;
}

.notes-card img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
    margin-bottom: 16px;
}

.notes-container h2 {
    text-align: center;
    font-size: 48px;
    margin-top: 36px;
    margin-bottom: 16px;

}
.notes-container p, .text-content .text{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 44px;

}

.notes-container .notes-box .notes-card {
    max-width: 322px;
    padding: 69.5px 24px 24.5px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #0000000F;
}
.notes-card h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
}
.notes-card p, .access-container .text-bellow-btn{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#brain .brain-container {
    width: 85%;
    max-width: 1360px;
    display: flex;
    margin: 120px auto;
    gap: 60px;
    /* justify-content: center;
    align-items: center; */
}
.brain-container .knowledge-image {
    width: 600px;
}

.brain-container .text-content .sub-title {
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    padding-top: 101.5px;
    padding-bottom: 16px;
}

.text-content h2 {
    font-size: 48px;
    margin-bottom: 16px;

}

.checkpoint p{
    margin-bottom: 16px;
    
}
.checkpoint img {
    vertical-align: middle;
}

#early-access .access-container {
    width: 85%;
    max-width: 1360px;
    background-color: #F7F6F2;
    margin: 0 auto;
    text-align: center;
}

.access-container h2 {
    font-size: 40px;
    font-weight: bold;
    padding:80px 40px 16px;
}

.access-container .section-heading p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    padding-bottom: 24px;
}
.access-container .btn{
    margin-bottom: 16px;
}
.access-container .text-bellow-btn{
    padding-bottom: 80px;
}
footer {
    background-color: #001931;
    margin-top: 120px;
}
.footer-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 120px 120px 80px;
}
.footer-content .footer-logo {
    width: 139px;
}
.footer-content .social p{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    margin-bottom:16px;
}
.footer-content .social .social-icon {
        display: flex;
        gap: 16px;
}
.footer-container hr {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 30px;
   border-color: #E5E7EB33;


}
.footer-container .copyright {
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
}