* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header {
    padding: 16px 120px;
}
nav {
    display: flex;
    width: 85%;
    max-width: 1360px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    width: 367px;
}

nav .menu a{
    font-size: 16px;
    line-height: 152%;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

 .btn {
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    align-items: center;

}
#banner {
        background-image: url("../assets/hero-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 70px 120px;

}
#banner .banner-container{

    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 115.5px 120px 179.5px;
}

#banner .banner-container #early-btn {
    padding: 8px 12px;

    width: 229px;
    background-color: #FFFFFF;
    color: #469165;
    border: none;
    border-radius: 1000px;

}

.banner-container h1 {
    margin-top: 16px;

}
.banner-container p {
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.banner-container .banner-btn {
    margin-top: 32px;
    gap: 16px;

}