* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
header {
    padding: 16px 120px;
}
nav {
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom:24px;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    width: 367px;
}

nav .menu a{
    font-size: 16px;
    line-height: 152%;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

 .btn {
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    

}
#banner {
        background-image: url("../assets/hero-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 70px 120px;

}
#banner .banner-container{

    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 115.5px 120px 179.5px;
}

#banner .banner-container #early-btn {
    padding: 8px 12px;

    width: 229px;
    background-color: #FFFFFF;
    color: #469165;
    border: none;
    border-radius: 1000px;

}

.banner-container h1 {
    margin-top: 16px;
    font-size: 72px;
    line-height: 84px;
    

}
.banner-container p {
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.banner-container .banner-btn {
    margin-top: 32px;
    gap: 16px;    
}
.banner-container .banner-btn .see-how-btn {
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: #FFFFFF;
    
}
#notes .notes-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
#notes .notes-container .notes-box {
    display: flex;
    gap: 24px;
}

.notes-card img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
    margin-bottom: 16px;
}

.notes-container h2 {
    text-align: center;
    font-size: 48px;
    margin-top: 36px;
    margin-bottom: 16px;

}
.notes-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 44px;

}

.notes-container .notes-box .notes-card {
    max-width: 322px;
    padding: 69.5px 24px 24.5px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #0000000F;
}
.notes-card h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
}
.notes-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}